#fiveserver-info-wrapper {
    display: none !important;
  }


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Icon formatting */
i {
    margin: 0 0.5rem;
}

body {
    background-color: #d0f7ed;
    font-family: 'Monsterrat', sans-serif;
}

header {
    padding: 5rem 0 0;
    color:#ffffff; 
    animation: fadeIn1 1.5s ease-in;
    display: block; 
    align-items: center; 
    text-align: center;
}   

#detailsMain {
    display: flex;
    max-width: 100%;
}

h1 {
    background: #367c5f;
    padding: auto;
    font-size: 3rem;
    height: 5rem;  
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;  
}

#detailsMain a {
    background: #1e553e;
    color:#98f0cea9;
    font-size: 1rem;
    height: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 1rem;
    text-decoration: none;
    margin-bottom: 0.5rem;
    width: 100%;
    transition: 0.8s;
}

/* Hover animation for contact details */
#detailsMain a:hover {
    color: #ffffff;
}

#linksRight {
    display: flex;
    justify-content: flex-end;
}

/* Create a standard navbar with a fixed position at top of page. */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar {
    background-color:#2f8f8a;
    width: 100%;
    height: 1.5rem;
    position: fixed;
    animation: slide 1.5s;
}



.navbar a, .navbar i {
    display: inline-flex;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    margin: 0.1rem 0.5rem;
    color: white;
    font-size: 1rem;
    animation: fadeIn3 2s;
    
}

/* Indicates to user that they are already on this page; link removed and is text only */
#presentPage, #presentPage .material-symbols-outlined {
    display: inline-flex;
    align-items: center;
    margin: 0.1rem 0.5rem;
    color: #113130;
    font-size: 1rem;
    animation: fadeIn3 2s;
}

/* Special nav buttons for welcome page */
#welcomeNav a {
    text-decoration: none;
    background-color: #2f8f8a;
    color: white;
    padding: 1rem;
    margin: 0.2rem;
    border-radius: 1.5rem;
    transition: 0.8s;
    display: flex;
    align-items: center;
    width: 10rem;
    animation: fadeIn2 1.5s ease-in; 
    
}

/* Hover animation for special nav buttons */
#welcomeNav a:hover {
    transition: 0.8s;
    background-color: #163d2d;
}

.centerContent {
    max-width: 800px;
    margin: auto;
}
article {
    font-family: 'Esteban', serif;
    animation: fadeIn3 1.5s ease-in; 
    color: #113130;
}

article #blurb {
    padding: 1.5rem 1rem;
}

#blurb p {
    width: 70%;
    padding: 0.5rem 0;
}