


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Icon formatting */
i {
    margin: 0 0.5rem;
}

body {
    background-color: #d0f7ed;
    font-family: 'Monsterrat', sans-serif;
}
/* COMPONENT: Header formatting */
header {
    padding: 5rem 0 0;
    color:#ffffff; 
    animation: fadeIn2 1.25s ease-in;
    display: block; 
    align-items: center; 
    text-align: center;
}   

#detailsMain {
    display: flex;
    max-width: 100%;
}

h1 {
    background: #367c5f;
    padding: auto;
    font-size: 3rem;
    height: 5rem;  
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    animation: slide 1.25s ease-out;  
}

#detailsMain a {
    background: #1e553e;
    color:#98f0cea9;
    font-size: 1rem;
    height: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 1rem;
    text-decoration: none;
    margin-bottom: 0.5rem;
    width: 100%;
    transition: 0.8s;
}

#linksRight {
    display: flex;
    justify-content: flex-end;
}

/* Hover animation for contact details */
#detailsMain a:hover {
    color: #ffffff;
}

/* COMPONENT: Article */
article h2, article > div {
    font-family: 'Esteban', serif;
    animation: fadeIn3 1.75s ease-in; 
    color: #113130;
    max-width: 800px;
    margin: auto;
    /* padding: 1.5rem 1rem 0; */
}

article, article #blurb, article > div, .container > div {
    padding: 1rem 1rem;
    font-size: 1.3rem;
}

article #blurb {
    width: 60%;
}

#photosWelcome {
    margin: auto;
}

.container {
    display:flex;
    flex-wrap: wrap;
    padding: 1rem 0 0;
    justify-content: center;
    
}

/* COMPONENT: Experience Section */
.experience h3, .experience h4 {
    font-family: 'Monsterrat', sans-serif;
    margin-bottom: 0.1rem;
}
.experienceList {
    font-size: 1rem;
}

.experience {
    margin-bottom: 0.4rem;
}

.experienceDates {
    font-family: 'Monsterrat', sans-serif;
    font-size: 1rem;
}
/* Paragraph formatting */
p {
    margin-bottom: 1rem;
}

/* Unordered list formatting */
ul {
    margin: 0 1rem;
}

li {
    margin: 0.5rem 0 0.5rem;
}

/* Create box for headings */
.heading2 {
    display:flex;
    height: 15vh;
    padding-bottom: 0;
    
}

/* Media breakpoint for screens <500px (Phones) */
@media only screen and (max-width: 500px) {
    /* Reduce name size */
    h1 {
        font-size: 2rem;
    }

    /* Reduce contact details size */
    #detailsMain a {
        font-size: 0.65rem;
    }

    article h2 {
        font-size: 1.5rem;
    }

    article #blurb {
        font-size: 0.8rem;
    }
}

/* Media breakpoint for screens between 501px and 768px (Tablets) */
@media only screen and (min-width: 501px) and (max-width:768px) {
    
    .heading2 {
        margin-top: 5vh;
    }
}